*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Tiny5;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #13084a;
}

.msgbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius:15px;
  margin:15px;
  background-color: #584a9e;
}

.msgtext{
  margin-left: 1vh;
  margin-right: 1vh;
  font-size: 1.2vw;
  font-family: Tiny5;
}

.logo{
  margin: 10px;
}

.image{
  max-width:800px;
  max-height:auto;
}